/* StartPage.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #15202B;
    color: #ffffff;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.baseInput {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #657786;
    border-radius: 25px;
    background-color: #192734;
    color: #ffffff;
    font-size: 14px;
    outline: none;
}

input[name="username"] {
    width: 300px;
}

input[name="username"]::placeholder {
    color: #657786;
}

.btn {
    --_inactiveBg: var(--inactiveBg);
    --_hoverBg: var(--hoverBg);
    --_activeBg: var(--activeBg);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    background-color: var(--_inactiveBg);
    color: #ffffff;
}

.btn:hover {
    background-color: var(--_hoverBg);
}

.btn:active {
    background-color: var(--_activeBg);
}

.primary {
    --inactiveBg: #1DA1F2;
    --hoverBg: #1a8cd8;
    --activeBg: #0d95e8;
}

.secondary {
    --inactiveBg: #30be45;
    --hoverBg: #5faa6a;
    --activeBg: #86f095;
}

.danger {
    --inactiveBg: #f3185c;
    --hoverBg: #ac4162;
    --activeBg: #eb618c;
}

#root,
.StartPage {
    width: 100%;
    height: 100%;
}

.StartPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

#welcome {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: FadeOut 2s 2s forwards;
}

#sessionOptions {
    animation: FadeIn 2s 2s backwards;
}

#joinSessionContainer {
    animation: FadeIn 2s backwards;
}

#lobbyContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#baseLayerContainer {
    display: grid;
    grid-template:
        "h h h h" 20%
        "m m m c"
        "m m m c"
        "m m m c";
}

#navigationContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    border: white 1px solid;
    grid-area: h;
}

#gamePageContainer {
    grid-area: m;
    margin: 0 1rem 1rem 1rem;
}

#chatBoxContainer {
    grid-area: c;
    margin: 0 1rem 1rem 0;
    border: solid;
}

.gameTileContainer {
    display: flex;
}

.gameTile {
    border-radius: 0;
    padding: 2rem;
    transition: all 150ms;
}

.gameTile:hover {
    padding: 3rem;
    font-size: 1.5rem;
}

/* Utility Classes*/
.fillContainer {
    width: 100%;
    height: 100%;
}
