/* StartPage.css */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #15202B;
    color: #ffffff;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

div {
    border-radius: 1rem;
}

.baseInput {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #657786;
    border-radius: 25px;
    background-color: #192734;
    color: #ffffff;
    font-size: 14px;
    outline: none;
}

input[name="username"] {
    width: 300px;
}

input[name="username"]::placeholder {
    color: #657786;
}

#welcome {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: FadeOut 2s 1s forwards;
}

#sessionOptions {
    display: flex;
    flex-direction: column;
    animation: FadeIn 2s 1s backwards;
}

#sessionOptions>*+* {
    margin-top: 1.5rem;
}

#sessionOptions>div {
    display: flex;
}

#sessionOptions>div span {
    margin: 0 1rem;
}

#joinSessionContainer {
    animation: FadeIn 1s backwards;
}

#lobbyContainer {
    width: 100%;
    grid-area: m;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#lobbyContainer>div:first-child {
    margin-left: 1rem;
}

#lobbyContainer>div {
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: 2rem;
    width: 100%;
    border: solid;
}

/* consider flexbox to shrink Chatbox or to make the chat box disappear and reappear?*/
#baseLayerContainer {
    display: grid;
    grid-template:
        "h h h h" 20%
        "m m m c"
        "m m m c"
        "m m m c";
    animation: FadeIn 1s backwards;
}

#navigationContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    border: white 1px solid;
    grid-area: h;
}

#gamePageContainer {
    grid-area: m;
    margin: 0 1rem 1rem 1rem;
}

#chatBoxContainer {
    grid-area: c;
    margin: 0 1rem 1rem 0;
    border: solid;
}

#root,
.StartPage {
    width: 100%;
    height: 100%;
}

.StartPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userLogin>*:first-child {
    text-align: center;
    margin: 0 0 1rem 0;
}

.gameTileContainer {
    display: flex;
}

.btn {
    --_inactiveBg: var(--inactiveBg);
    --_hoverBg: var(--hoverBg);
    --_activeBg: var(--activeBg);
    padding: 1rem 1.25rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 1.25rem;
    background-color: var(--_inactiveBg);
    color: #ffffff;
}

.btn:hover {
    background-color: var(--_hoverBg);
}

.btn:active {
    background-color: var(--_activeBg);
}

.primary {
    --inactiveBg: #1DA1F2;
    --hoverBg: #1a8cd8;
    --activeBg: #0d95e8;
}

.secondary {
    --inactiveBg: #30be45;
    --hoverBg: #5faa6a;
    --activeBg: #86f095;
}

.danger {
    --inactiveBg: #f3185c;
    --hoverBg: #ac4162;
    --activeBg: #eb618c;
}

.inactive {
    --inactiveBg: #7e7e7e;
    --hoverBg: #7e7e7e;
    --activeBg: #7e7e7e;
<<<<<<< HEAD
    cursor: default;
=======
>>>>>>> 550efcf (added new style presets to Button and implemented visual switching of the styles in the game selector depending on who the host is and what is selected)
}

.primary_selected {
    --inactiveBg: #093ada;
    --hoverBg: #093ada;
    --activeBg: #093ada;
}

.playerList>div {
    padding: 1rem;
}

#root,
.StartPage {
    width: 100%;
    height: 100%;
    border: solid;
}

/* Utility Classes*/
@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.fillContainer {
    width: 100%;
    height: 100%;
}

.maxWidth {
    width: 100%;
}

.padAllSides {
    padding: 1rem;
}

.spaceContents>*+* {
    margin-top: 1rem;
}
